@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Poppins:wght@400;500;700&family=Source+Code+Pro:wght@400;700&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 0 10%;
}

section {
  border: 2px solid grey;
  padding: 10px;
  margin: 10px 0;
}

article {
  display: inline-block;
}

p,
li {
  line-height: 1.5;
}

.color {
  margin: 20px 0;
  padding: 10px;
  text-align: center;
  width: 30%;
}

.color--blue {
  background-color: #2d5dcc;
  color: white;
}

.color--pink {
  background-color: #d957d9;
}

.color--green {
  background-color: #4fe0b0;
}

.color--beige {
  background-color: #efd9ca;
}

.color__name {
  font-weight: normal;
  font-size: 16px;
}

.color__code {
  font-size: 16px;
}

.font {
  width: 45%;
}

.font-source {
  font-family: 'Source Code Pro', monospace;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font__name {
  font-size: 20px;
  font-weight: normal;
  text-decoration: underline;
}

.font__bold {
  font-weight: bold;
}

.font__italic {
  font-style: italic;
}

.text-styles {
  display: block;
}

.text-styles-name--h1 {
  font-size: 26px;
  font-weight: bold;
}

.text-styles-name--h2 {
  font-size: 18px;
  font-weight: 500;
}

.text-styles-name--p {
  font-size: 14px;
  font-weight: normal;
}
