.body {
  background-color: lightgray;
  font-family: sans-serif;
  text-align: center;
}

.article__title {
  color: purple;
}

.table {
  border: 2px solid darkmagenta;
  margin: 0 auto;
  width: 650px;
}

.table__header-cell {
  background-color: plum;
}

.table__body {
  text-align: left;
}

.table__cell {
  border-top: 1px solid purple;
}

.code {
  background-color: lightyellow;
  font-family: 'Lucida Console', Courier, monospace;
  font-size: 12px;
  font-weight: normal;
}
